@font-face {
  font-family: "HammersmithOne", "Helvetica", sans-serif;
  src: url("../font/Hammersmith.ttf"); }

@font-face {
  font-family: "Pacifico", "Times New Roman", Serif;
  src: url("../font/Pacifico.ttf"); }

.nav-wrapper {
  background-color: #4CAF50; }
