@import "navbar.scss";

nav {
    box-shadow: none;
}
#adminPanel {
    #adminTabs {
        padding:0;
        .tabs {
            position: relative;
            .tab {
                a {
                    color: #800020;
                }
                a:hover {
                    color: #D81110;
                }
            }
            .indicator {
                position: absolute;
                bottom: 0;
                height: 2px;
                background-color: #f6b2b5;
                will-change: left, right;
            }
        }
    }

    #reportsTab {
        margin:0;
        height: calc(100% - 135px);
        .topResults {
            height:100%;
            background-image: url(http://www.placehold.it/400x400);
            background-size: contain;
            background-clip:content-box;
        }
        .mostDownloaded {
            height:100%;
            background-image: url(http://www.placehold.it/400x400);
            background-size: contain;
            // padding:0;
            background-clip:content-box;
            // margin: 0 0.75rem;
        }
    }

    #booksTab {
        height: calc(100% - 135px);
        margin:0;
        .bookList {
            overflow-y: scroll;
            height:100%;
        }
        .bookDetails {
            height:100%;
            overflow-y: scroll;
        }
    }

    #usersTab {
        height: calc(100% - 135px);
        margin:0;
        .userList {
            overflow-y: scroll;
            height:100%;
        }
        .userDetails {
            height:100%;
            overflow-y: scroll;
        }
    }
}
