.nav-search {
    width: 750%;
    margin-left: 15%;
    border-radius: 3px;
    // @include media(min-width: 768px) {
    //
    // }

    div {
        i.active {
            color:#000 !important;
        }

        label.active {
            i {
                color:#000 !important
            }
        }
    }
}
