<html>
    <head>
        <link rel="stylesheet" href="js/bower_components/materialize/dist/css/materialize.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="css/bookprofile.css" />
    </head>
    <body>
        <div id="content">

        </div>

        <script src="js/bower_components/requirejs/require.js"></script>
        <script src-"text/javascript">
            require(['js/config'], function() {
                require(['init_bookprofile']);
            })
        </script>
    </body>
</html>
