<html>
<head>
    <!-- <link rel="stylesheet" href="css/homepage.css" /> -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div id='navigation'></div>
    <div id='content' class="padNav">
    </div>
    <div id="dark-cover"></div>
    <div id='cart' class="z-depth-2"></div>

    <script src="js/bower_components/requirejs/require.js"></script>
    <script type="text/javascript">
        require(['js/config'], function () {
          require(['init_navbar', 'init_searchresults']);
        });
	</script>

</body>
</html>
