<html>
	<head>
	    <!-- <link rel="stylesheet" href="css/homepage.css" /> -->
	    <link rel="stylesheet" href="js/bower_components/materialize/dist/css/materialize.css" />
	    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	    <link rel="stylesheet" href="css/user_profile.css" />
	</head>
	<body>
	    <div id='content' class="padNav">
	    </div>
		<div id='navigation'></div>
	    <div id='cart'></div>
	    <script src="js/bower_components/requirejs/require.js"></script>
	    <script type="text/javascript">
	        require(['js/config'], function () {
	          require(['init_navbar', 'init_user_profile']);
	        });
		</script>

	</body>
</html>
